<div id="mdlViewSinkList" class="modal fade" aria-labelledby="lblViewSinkListTitle" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <input type="button" class="close" data-dismiss="modal" aria-hidden="true"/ value="&times;">
                <h4 id="lblViewSinkListTitle" class="modal-title">Sink List</h4>
            </div>
            <div class="modal-body" id="modal-body">
                <div id="sinkListAlert">
                    
                </div>
                <div class="panel-group" id="accSinkList">
                    
                </div>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>

    </div>
</div>