<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>GHSOM SERVICE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="GHSOM SERVICE">
        <meta name="author" content="JEFFLEE">
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <!--[if lt IE 9]>
        <script src="//cdnjs.bootcss.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
        <![endif]-->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <link href="../../assets/css/alert.css" rel="stylesheet">
        <link href="../../assets/css/login.css" rel="stylesheet">
        <link href="../../assets/css/index.css" rel="stylesheet">
        
        <script type="text/javascript" src="../../assets/js/shared/Utility.js"></script>
        <script type="text/javascript" src="../../assets/js/alert/Alert.js"></script>

    </head>
    <body>
        <div class="container" style="text-align:center;">
            <h1>GHSOM SERVICE</h1>
        </div>

    </body>
</html>
