<div id="mdlAddUser" class="modal fade" aria-labelledby="lblAddUserTitle" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <input type="button" class="close" data-dismiss="modal" aria-hidden="true"/ value="&times;">
                <h4 id="lblAddUserTitle" class="modal-title">Sign Up</h4>
            </div>
            <div class="modal-body" id="modal-body">
                <form id="frmAddUser" action="" class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label" for="txtAddUserEmail">Email</label>
                            </div>
                            <div class="col-sm-10">
                                <input name="txtUserEmail" id="txtAddUserEmail" type="text" class="form-control" placeholder="Email"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label" for="txtAddUserName">User Name</label>
                            </div>
                            <div class="col-sm-10">
                                <input name="txtUserName" id="txtAddUserName" type="text" class="form-control" placeholder="User Name"/>
                            </div>
                        </div>
                         <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label" for="txtAddUserPass">Password</label>
                            </div>
                            <div class="col-sm-10">
                                <input name="txtUserPass" id="txtAddUserPass" type="password" class="form-control" placeholder="Password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label" for="txtAddUserConfirmPass">Confirm Password</label>
                            </div>
                            <div class="col-sm-10">
                                <input name="txtUserConfirmPass" id="txtAddUserConfirmPass" type="password" class="form-control" placeholder="Confirm Password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button class="btn btn btn-primary ladda-button" id="btnSubmitAddUser" data-style="zoom-in"><span class="ladda-label">Submit</span></button>
                                <button class="btn btn ladda-button" id="btnCancelAddUser" data-style="zoom-in"><span class="ladda-label">Cancel</span></button>
                                
                            </div>
                            
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>

    </div>
</div>