<nav id="navBar" class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#"> Patcher </a>
    <ul class="nav navbar-nav">

        <li>
            <a class="navbar-link" href="http://soslab.nccu.edu.tw/Projects.html"> About </a>
        </li>
        <li>
            <a class="navbar-link" href="http://soslab.nccu.edu.tw/Members.html"> Developers </a>
        </li>
        <li>
            <a class="navbar-link" href="http://soslab.nccu.edu.tw/"> SOSLAB </a>
        </li>

    </ul>

    <form class="navbar-form navbar-right" name="frmLogin" id="frmLogin">
        <div class="form-group">
            <input type="text" name="txtUserName" id="txtUserName" class="form-control" placeholder="User Name" value="guest"/>
        </div>
        <div class="form-group">

            <input type="password" name="txtUserPassword" id="txtUserPassword" class="form-control" placeholder="Password" value="issta2015"/>
        </div>
        <button class="btn ladda-button" id="btnSubmitLogin" data-style="zoom-in"><span class="ladda-label">Login</span></button>
    </form>
    <ul class="nav navbar-nav navbar-right">

        <li>
            <a class="navbar-link" href="#" id="aAddUser">Sign Up</a>
        </li>

    </ul>

</nav>

