<div id="divAlert">
    <div class="modal fade" id="mdlAlert">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">
                        &times;
                    </button>
                    <div class="modal-title" id="divAlertTitle"></div>
                </div>               
                <div class="modal-body" id="divAlertContent"></div>
            </div>
        </div>
    </div>
</div>